
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-8xl: 27px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f7f9fc;
  --color-steelblue: #006699;
  --color-lightgray: #d7d7d7;
  --color-black: #000;
  --color-darkslategray: #4a4a4a;
  --color-gray-100: #888b90;
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-gainsboro-100: #ddd;
  --color-gainsboro-200: #dcdcdf;
  --color-red: #ff0000;

  /* Gaps */
  --gap-mini: 15px;
  --gap-2xl: 21px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-116xl: 135px;
  --padding-21xl: 40px;
  --padding-6xl: 25px;
  --padding-22xl: 41px;
  --padding-135xl-9: 154.9px;
  --padding-mini-9: 14.9px;
  --padding-103xl: 122px;
  --padding-20xl-1: 39.1px;
  --padding-108xl: 127px;
  --padding-12xs-1: 0.1px;
  --padding-6xs: 7px;

  /* border radiuses */
  --br-7xs: 6px;
}



.gii-thiu1 ul {
  list-style-type: none;
  display: none;
  padding: 0;
  margin:0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 999;
  left: -20px;
}
.gii-thiu1{
  background: none;
  width:95px;
  height:73px;
}
.gii-thiu1 li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 10px ;
  border-bottom: none;
  width: 230px;
  overflow: hidden;
}
.gii-thiu1 li:last-child {
  border-bottom: none;
}
.gii-thiu1:hover ul {
  display: block;
}
.gii-thiu1 li:hover {
  background-color: #006699;
  color:white;
  transition : all 0.3s ease; /* Change background color when hovered over */
}
/**/
.tin-tc3 ul {
  list-style-type: none;
  display: none;
  padding: 0;
  margin:0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 999;
  left: -20px;
}
.tin-tc3{
  background: none;
  width:95px;
  height:73px;
}
.tin-tc3 li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 10px ;
  border-bottom: none;
  width: 230px;
  overflow: hidden;
}
.tin-tc3 li:last-child {
  border-bottom: none;
}
.tin-tc3:hover ul {
  display: block;
}
.tin-tc3 li:hover {
  background-color:#006699;
  color:white ;
  transition : all 0.3s ease;/* Change background color when hovered over */
}
/**/
.nhn-hng2 ul {
  list-style-type: none;
  display: none;
  padding: 0;
  margin:0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 999;
  left: -20px;
  }
  .nhn-hng2{
  background: none;
  width:95px;
  height:73px;
  }
  .nhn-hng2 li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 10px ;
  border-bottom: none;
  width: 250px;
  overflow: hidden;
  }
  .nhn-hng2 li:last-child {
  border-bottom: none;
  }
  .nhn-hng2:hover ul {
  display: block;
  }
  .nhn-hng2 li:hover {
  background-color: #006699;
  color:white;
  transition : all 0.3s ease;  /* Change background color when hovered over */
  }







.i-l-t1,
.lin-h2,
.m-i-l2,
.mua-sm-online1,
.quan-h-c1,
.tin-khuyn-mi2,
.tuyn-dng1 {
  position: absolute;
  top: 2px;
  left: 383.44px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 100.57px;
  height: 15px;
}
.i-l-t1,
.lin-h2,
.m-i-l2,
.mua-sm-online1,
.tin-khuyn-mi2,
.tuyn-dng1 {
  left: 511.44px;
  width: 87.95px;
}
.i-l-t1,
.lin-h2,
.m-i-l2,
.mua-sm-online1,
.tuyn-dng1 {
  left: 626.81px;
  width: 92.27px;
}
.i-l-t1,
.lin-h2,
.m-i-l2,
.tuyn-dng1 {
  left: 745.7px;
  width: 68.86px;
}
.i-l-t1,
.lin-h2,
.m-i-l2 {
  left: 841.98px;
  width: 52.66px;
}
.i-l-t1,
.lin-h2 {
  left: 921.67px;
  width: 85.92px;
}
.lin-h2 {
  left: 1035.02px;
  width: 42.93px;
}
.icon-enpng1,
.icon-vnpng1 {
  position: absolute;
  top: calc(50% - 7.44px);
  right: 29.63px;
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.icon-enpng1 {
  top: calc(50% - 6.44px);
  right: 0;
  width: 22px;
  height: 14px;
}
.divcontainer2 {
  position: relative;
  width: 1170px;
  height: 20px;
  flex-shrink: 0;
}
.divtop1 {
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-116xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.logopng-icon1 {
  position: absolute;
  top: calc(50% - 44.5px);
  left: 0;
  width: 109px;
  height: 89px;
  object-fit: cover;
}
.gii-thiu1,
.tin-tc3 {
  position: absolute;
  top: 10px;
  left: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.tin-tc3 {
  left: 125.77px;
  color: var(--color-red);
}
.pseudo5 {
  position: absolute;
  top: 11.5px;
  left: 109.77px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 23px;
}
.nhn-hng2 {
  position: absolute;
  top: 10px;
  left: 216.33px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.pseudo6 {
  position: absolute;
  top: 11.5px;
  left: 200.33px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 23px;
}
.h-tr-khch2 {
  position: absolute;
  top: 10px;
  left: 338.34px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.pseudo7 {
  position: absolute;
  top: 11.5px;
  left: 322.34px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 23px;
}
.h-thng-ca2 {
  position: absolute;
  top: 10px;
  left: 531.19px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.pseudo8 {
  position: absolute;
  top: 11.5px;
  left: 515.19px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 23px;
}
.ng-phc-qu1 {
  position: absolute;
  top: 10px;
  left: 721.47px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.pseudo9 {
  position: absolute;
  top: 11.5px;
  left: 705.47px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1px;
  height: 23px;
}
.frame-icon1,
.ulmenu4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 913.53px;
  height: 46px;
}
.ulmenu4 a{

  text-decoration: none;
  color: black;
}
.ulmenu4 a:hover{
color:red;
}
.frame-icon1 {
  top: 12.7px;
  left: 937.42px;
  width: 14.86px;
  height: 16px;
  overflow: hidden;
}
.navnavigation1 {
  position: absolute;
  height: calc(100% - 74px);
  width: calc(100% - 217.72px);
  top: 37px;
  right: 0;
  bottom: 37px;
  left: 217.72px;
}
.divcontent1 {
  position: relative;
  width: 1170px;
  height: 120px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.headerheader1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  color: var(--color-gainsboro-200);
}
.tin-tc4 {
  position: absolute;
  top: 204px;
  left: 644.92px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-darkslategray);
  text-align: center;
}
.jpg-icon {
  position: absolute;
  width: 100%;
  top: calc(50% - 203.79px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 407.58px;
  object-fit: cover;
}
.div1 {
  top: 16px;
  left: 10px;
  line-height: 20px;
  color: var(--color-gray-100);
  width: 61.59px;
  height: 14px;
}
.div1,
.viettien-black-friday,
.xem-thm {
  position: absolute;
  display: flex;
  align-items: center;
}
.viettien-black-friday {
  top: 49px;
  left: 10px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  width: 274.06px;
  height: 36px;
}
.xem-thm {
  top: 6px;
  left: 0;
  line-height: 26px;
  width: 54.89px;
  height: 14px;
}
.spanread-more-circle-arrow-li {
  position: absolute;
  top: 94px;
  left: 214.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent2 {
  position: absolute;
  height: calc(100% - 257.58px);
  top: 222.58px;
  right: 0;
  bottom: 35px;
  background-color: var(--color-white);
  width: 315px;
}
.aitem-news-block {
  position: absolute;
  top: 0;
  left: calc(50% - 585px);
  width: 770px;
  height: 407.58px;
}
.jpg-icon1 {
  position: absolute;
  top: calc(50% - 203px);
  left: 0;
  width: 360px;
  height: 270px;
  object-fit: cover;
}
.div2,
.qu-chun-gu {
  position: absolute;
  left: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.div2 {
  top: 16px;
  color: var(--color-gray-100);
  width: 61.59px;
  height: 14px;
}
.qu-chun-gu {
  top: 49px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  width: 223.9px;
  height: 16px;
}
.spanread-more-circle-arrow-li1 {
  position: absolute;
  top: 74px;
  left: 259.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent3 {
  position: absolute;
  top: 270px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 136px;
}
.aitem-news-block1 {
  position: absolute;
  top: 0;
  left: calc(50% + 220px);
  width: 360px;
  height: 406px;
}
.x242png-icon {
  position: absolute;
  top: calc(50% - 196.16px);
  left: 0;
  width: 360px;
  height: 242.31px;
  object-fit: cover;
}
.san-sciaro2 {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 315.17px;
  height: 36px;
}
.spanread-more-circle-arrow-li2 {
  position: absolute;
  top: 94px;
  left: 259.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent4 {
  position: absolute;
  top: 242.31px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 150px;
}
.aitem-news-block2 {
  position: absolute;
  top: 437.58px;
  left: calc(50% - 580px);
  width: 360px;
  height: 392.31px;
}
.x242png-icon1 {
  position: absolute;
  top: calc(50% - 189.5px);
  left: 0;
  width: 360px;
  height: 243px;
  object-fit: cover;
}
.qu-tinh-t {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 182.01px;
  height: 16px;
}
.spanread-more-circle-arrow-li3 {
  position: absolute;
  top: 74px;
  left: 259.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent5 {
  position: absolute;
  top: 243px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 136px;
}
.aitem-news-block3 {
  position: absolute;
  top: 437.58px;
  left: calc(50% - 180px);
  width: 360px;
  height: 379px;
}
.x2422xpng-icon {
  position: absolute;
  top: calc(50% - 189.08px);
  left: 0;
  width: 360px;
  height: 242.16px;
  object-fit: cover;
}
.voucher-trao-tay {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 309.92px;
  height: 16px;
}
.spanread-more-circle-arrow-li4 {
  position: absolute;
  top: 74px;
  left: 259.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent6 {
  position: absolute;
  top: 242.16px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 136px;
}
.aitem-news-block4 {
  position: absolute;
  top: 437.58px;
  left: calc(50% + 220px);
  width: 360px;
  height: 378.16px;
}
.x242-1png-icon {
  position: absolute;
  top: calc(50% - 196px);
  left: 0;
  width: 360px;
  height: 242px;
  object-fit: cover;
}
.vit-tin-tip {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 303.73px;
  height: 36px;
}
.divcontent7 {
  position: absolute;
  top: 242px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 150px;
}
.aitem-news-block5 {
  position: absolute;
  top: 859.89px;
  left: calc(50% - 580px);
  width: 360px;
  height: 392px;
}
.x242png-icon2 {
  position: absolute;
  top: calc(50% - 189.16px);
  left: 0;
  width: 360px;
  height: 242.31px;
  object-fit: cover;
}
.qu-chun-style {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 262.08px;
  height: 16px;
}
.spanread-more-circle-arrow-li6 {
  position: absolute;
  top: 74px;
  left: 259.31px;
  width: 87.69px;
  height: 26px;
  background-image: url(./public/spanreadmorecirclearrowlink4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.divcontent8 {
  position: absolute;
  top: 242.31px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 136px;
}
.aitem-news-block6 {
  position: absolute;
  top: 859.89px;
  left: calc(50% - 180px);
  width: 360px;
  height: 378.31px;
}
.may-viet-tien-e1669086178572j-icon {
  position: absolute;
  top: calc(50% - 124.5px);
  left: 0;
  width: 150px;
  height: 99px;
  object-fit: cover;
}
.ti-liu-hun {
  position: absolute;
  top: 49px;
  left: 13px;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 323.54px;
  height: 36px;
}
.divcontent9 {
  position: absolute;
  top: 99px;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 150px;
}
.aitem-news-block7 {
  position: absolute;
  top: 859.89px;
  left: calc(50% + 220px);
  width: 360px;
  height: 249px;
}
.divrow1,
.hin-th-thm {
  position: absolute;
  top: 0;
  left: -15px;
  width: 1200px;
  height: 1281.89px;
}
.hin-th-thm {
  top: 10px;
  left: 53.39px;
  line-height: 34px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.4px;
  height: 14px;
}
.abtn-load-more-ajax {
  position: absolute;
  top: 1281.89px;
  left: calc(50% - 100px);
  background-color: var(--color-black);
  width: 200px;
  height: 34px;
  text-align: center;
  color: var(--color-white);
}
.divcontainer3 {
  position: absolute;
  top: 299px;
  left: calc(50% - 585px);
  width: 1170px;
  height: 1365.89px;
  font-size: var(--font-size-xs);
}
.nhn-hng3 {
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
}
.viettien2 {
  position: relative;
  line-height: 28px;
}
.divwidget5,
.ulmenu5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ulmenu5 {
  padding: 0 0.140625px 0 0;
  font-size: var(--font-size-sm);
}
.divwidget5 {
  position: absolute;
  top: 32px;
  left: 209.67px;
  gap: var(--gap-9xs);
}
.tin-viettien1 {
  position: relative;
  line-height: 28px;
  color: var(--color-steelblue);
}
.ulmenu6 {
  flex-direction: column;
  font-size: var(--font-size-sm);
}
.divcol-footer3,
.divwidget6,
.ulmenu6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divwidget6 {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.divcol-footer3 {
  position: absolute;
  top: 32px;
  left: calc(50% - 335.19px);
  border-left: 1px solid var(--color-lightgray);
  flex-direction: row;
  padding: 0 39.109375px var(--padding-108xl) var(--padding-22xl);
}
.ch-thu1,
.gp-khch1,
.khch-hng-thn1,
.m-i-l3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.ch-thu1,
.gp-khch1,
.m-i-l3 {
  top: 28px;
}
.gp-khch1,
.m-i-l3 {
  top: 56px;
}
.m-i-l3 {
  top: 91px;
  font-size: var(--font-size-base);
  line-height: 26px;
  text-transform: uppercase;
}
.ulmenu7 {
  position: relative;
  width: 174.5px;
  height: 117px;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
}
.divcol-footer4 {
  position: absolute;
  top: 32px;
  left: calc(50% - 119.08px);
  border-left: 1px solid var(--color-lightgray);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-21xl) var(--padding-103xl) var(--padding-22xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.l-minh-xun1 {
  margin: 0;
}
.pjs-toggle-mobile-content1 {
  display: flex;
  flex-direction: row;
  padding: 0 14.890625px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
}
.afa-facebook-icon1 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.divcol-footer5,
.divwidget9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divwidget9 {
  padding: 0 154.890625px 0 0;
  gap: var(--gap-2xl);
}
.divcol-footer5 {
  position: absolute;
  top: 32px;
  left: calc(50% + 136.42px);
  border-left: 1px solid var(--color-lightgray);
  padding: 0 var(--padding-21xl) var(--padding-6xl) var(--padding-22xl);
  gap: var(--gap-mini);
}
.bn-quyn-thuc1,
.viettien3 {
  position: absolute;
  top: 12px;
  left: 327.42px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112.45px;
  height: 16px;
}
.bn-quyn-thuc1 {
  left: 479.67px;
  width: 363.09px;
}
.divcontainer4 {
  position: relative;
  width: 1170px;
  height: 40px;
  flex-shrink: 0;
}
.divcopyright1 {
  position: absolute;
  top: 311px;
  left: 0;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-116xl);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.footerfooter1 {
  position: absolute;
  top: 1664.89px;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1440px;
  height: 351px;
  font-size: var(--font-size-base);
}
.tin-tc2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2015.89px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
